*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
  align-items: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  /* gap: 5px; */
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  font-family: "Fira Sans Condensed";
  color: #fff;
  opacity: 7;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  width: 212px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  min-inline-size: 13px;
  min-block-size: 13px;
  background-color: #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  letter-spacing: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed";
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 390px;
  height: 34px;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}
